.App {
    text-align: center;
   
}

.Main{
  margin: auto;
  width: 80%;
  border: 3px solid rgb(224, 158, 4);
  padding: 10px;
}

.nav{
    text-Decoration: 'none';
}


li {
    list-style-type: none;
}

ul {
    padding-inline-start: unset;
}
